{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DASHBOARD</title>
</head>
<body>
<h2>Analytics section</h2>
<hr>
<a style ="font-weight:25px" class="nav-link" href="/">HOME</a>
<hr>
<div id="img1">
    <h4>Sales vs Month graph</h4>
    <img style="margin-left:350px" src="../static/assets/qunatityvs month.jpeg">
</div>
<hr>
<!-- <div id="img2">
    <h4>Sales Difference graph </h4>
    <img style="margin-left:350px" src="../static/assets/predictedgraph.jpeg">
</div>
<hr> -->
<div id="img3">
    <h4>Predicted graph based(Orange line)</h4>
    <img style="margin-left:350px" src="../static/assets/predictedgraph.jpeg">
</body>
</html>