*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
    font-size: 18px;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.header{
    height: 80px;
    width: 70%;
    background-color: rgb(117, 195, 234);
    border-radius: 3px;
    margin: 30px 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
}
.header .logo{
    font-size: 30px;
    font-weight: bold;
    color: white;
}
.cart{
    display: flex;
    background-color: white;
    justify-content: space-between;
    align-items: center;
    padding: 7px 10px;
    border-radius: 3px;
    width: 80px;
}
.fa-solid{
    color: goldenrod;
}
.cart p{
    height: 22px;
    width: 22px;
    display: flex;
    align-items: center;
    justify-content: center;
   
    background-color: rgb(237, 206, 81);
    color: white;
}

.box1{
    background-color: rgb(250, 250, 252);
    height:250px;
    /*width: 100%; */
    display:grid;
    margin-top: 25px;
    /* padding-top: 30px; */
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;

    column-gap: 10px;
    justify-items: center;
    margin-bottom: 25px;
   
   }
   .item{
    background-color: rgba(117, 145, 250, 0.881);
    height:280px;
     width:180px; 
    /* border-radius: 10px; */
    
   }
   img{
    height:125px;
    width: 100px;
    object-fit: cover;
   }

p{
    text-align: center;
}
.btn {
    justify-content: center;
    padding-left: 3px;
}

.photo1{
    height:125px;
    width: 100px;
    background-color:rgba(117, 145, 250, 0.881) ;
     justify-content: center;
    padding:10px 5px;
    margin:10px 50px; 
   }

.photo2{
    height:125px;
    width: 100px;
        background-color:rgba(117, 145, 250, 0.881);
        justify-content: center;
        padding:10px 5px;
        margin:10px 50px;
       }
       
          
.photo3{
    height:125px;
    width: 100px;
        background-color: rgba(117, 145, 250, 0.881);
        justify-content: center;
        padding:10px 5px;
        margin:10px 50px;
    
   
       } 



.container{
    display: flex;
    width: 70%;
    margin-bottom: 30px;
}
#root{
    width: 60%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
}
.sidebar{
    width: 40%;
    border-radius: 5px;
    background-color: #eee;
    margin-left: 20px;
    padding: 15px;
    text-align: center;
}
.head{
    background-color: rgb(109, 198, 236);
    border-radius: 3px;
    height: 40px;
    padding: 10px;
    margin-bottom: 20px;
    color: white;
    display: flex;
    align-items: center;
}
.foot{
    display: flex;
    justify-content: space-between;
    margin: 20px 0px;
    padding: 10px 0px;
    border-top: 1px solid #333;
}
.box{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border: 1px solid goldenrod;
    border-radius: 5px;
    padding: 15px;
}
.img-box{
    width: 100%;
    height: 180px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.images{
    max-width: 90%;
    max-height: 90%;
    object-fit: cover;
    object-position: center;
}
.bottom{
    margin-top: 20px;
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 110px;
}
h2{
    font-size: 15px;
    color: rgb(73, 186, 223);
}
button{
    width: 100%;
    position: relative;
    border: none;
    border-radius: 5px;
    background-color: goldenrod;
    padding: 7px 25px;
    cursor: pointer;
    color: white;
}
button:hover{
    background-color: #333;
}
.cart-item{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    background-color: white;
    border-bottom: 1px solid #aaa;
    border-radius: 3px;
    margin: 10px 10px;
}
.row-img{
    width: 50px;
    height: 50px;
    border-radius: 50px;
    border: 1px solid goldenrod;
    display: flex;
    align-items: center;
    justify-content: center;
}
.rowimg{
    max-width: 43px;
    max-height: 43px;
    border-radius: 50%;
}
.fa-trash:hover{
    cursor: pointer;
    color: #333;
}